

@model IEnumerable<Presentation.Models.NotificationVM>
@using Presentation.Models


<h2>GetNotifications</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Content </th>
            <th>Date</th></tr>
            @foreach (NotificationVM item in ViewBag.notification)
            {

            <tr>

                <td>
                    @item.content

                </td>
                <td>
                    @item.notified_at

            </td>
        </tr>
            }

