<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    <link href=@Url.Content("/Content/calendar/Site.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content/calendar/bootstrap.min.css") rel="stylesheet" type="text/css" />
    <script src=@Url.Content("/Content/calendar/modernizr-2.6.2.js")></script>


</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src=@Url.Content("/Content/calendar/jquery-1.10.2.min.js")></script>
    <script src=@Url.Content("/Content/calendar/bootstrap.min.js")></script>
    @RenderSection("Scripts", false)
</body>
</html>
