@using Domain.Entities
@if (Session["authtoken"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Session["user"]</li>
        <li>@Html.ActionLink("Log out", "Logout", "Auth")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Auth", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Auth", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
